/* 全局样式表 */
html,body,#app{
    height: 100%;
    margin: 0;
    padding: 0;
    min-width: 1366px;
}
.el-breadcrumb {
    margin-bottom: 15px;
    font-size: 12px;
}
.el-table {
    margin-top: 20px;
    font-size: 12px;
}
.el-pagination {
    margin-top: 20px;
}
/* 解决cascader级联样式表超出屏幕的问题 */
.el-cascader-panel {
    height: 350px;
}
/* 隐藏横向滚动条 */
.el-scrollbar__wrap{
    overflow-x: hidden;
  }
  .el-form-item__label {
    padding: 0 6px 0 0;
  }
  